.footer-container {
  min-height: auto;
  background-color: #171a29;
  font-family: "Raleway", sans-serif;
  color: #f6f6f6;
  padding-inline: 12vw;
}

.footer-content {
  text-align: center;
  padding-top: 5vh;
}

.footer-content h4 {
  padding-top: 3vh;
  border-top: solid;
}

.footer-bottom {
  text-align: center;
}
.footer-bottom p {
  margin: 0;
  padding-bottom: 5vh;
  text-align: center;
}
